<div style="height: 600px;">
  <div class="tracking-in-expand">
  </div>
  <div style="margin-left: 10%;max-width: 75%;">
    <div class="text-flicker-in-glow" style="font-size: 50px; color: #64ffda">
      i'm carl!
    </div>
    <div class="text-focus-in" style="font-size: 25px; color: #8892b0">
      I'm a second-year MSc. Mathematical Modelling student at <a href="https://www.dtu.dk">DTU</a> in Copenhagen. I hold a BSc. degree in
      computer science from <a href="https://www.ku.dk/english/"> University of Copenhagen </a> where I specialized in data science, and I just returned from an exchange stay at <a href="https://www.nus.edu.sg">National University of Singapore</a>. <br>
      My primary interests are <strong class="highlight_text">data science</strong>, <strong class="highlight_text">finance</strong> and
      <strong class="highlight_text">programming</strong>.
    </div>
  </div>
</div>


<!-- :root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
}

-->