<div class="main-container">
  <div class="text-flicker-in-glow flicker-text">i'm carl!</div>
  <div class="text-focus-in focus-text">
    I hold a MSc. in Mathematical Modelling and Computation from
    <a href="https://www.dtu.dk">DTU</a> and a BSc. degree in Computer Science
    from
    <a href="https://www.ku.dk/english/"> University of Copenhagen </a> where I
    specialized in data science. I did exchange during my MSc. at
    <a href="https://www.nus.edu.sg">National University of Singapore</a>.
    <br />
    My primary interests are
    <strong class="highlight_text">graph neural networks</strong>,
    <strong class="highlight_text">recommender systems</strong>,
    <strong class="highlight_text">finance</strong> and
    <strong class="highlight_text">programming</strong>.
  </div>
  <div class="text-focus-in">
    <a href="https://www.linkedin.com/in/carl-johan-astrup/" target="_blank">
      <img src="assets/linkedin.svg" class="icon" alt="linkedin logo" />
    </a>
    <a href="https://github.com/Fiskehandleren" target="_blank">
      <img src="assets/GitHub-Mark-64px.png" class="icon" alt="github logo" />
    </a>
    <a href="https://twitter.com/UngeCarl" target="_blank">
      <img src="assets/twitter.svg" class="icon" alt="twitter logo" />
    </a>
    <a href="https://carlscodebucket.fyi" target="_blank">
      <img src="assets/blogging.png" class="icon" alt="blog icon" />
    </a>
  </div>
</div>
