<div style="height: 600px;">
  <div class="tracking-in-expand">
    <div style="font-family: lucy; font-size: 100px; text-align: center; line-height: 2;">Hello Fellow</div>
  </div>
  <div style="margin-left: 10%;max-width: 75%;">
    <div class="tracking-in-contract" style="font-family: 'NTR', sans-serif; font-size: 50px; color: black;">
      I'm Carl!
    </div>
    <div class="tracking-in-contract" style="font-family: 'NTR', sans-serif; font-size: 25px; color: grey;">
      I'm a first-year MSc. Mathematical Modelling student at DTU in Copenhagen. I recently graduated with a BSc. in computer science from University of Copenhagen where I specialized in data science. <br> 
      My primary interests are <strong>data science</strong>, <strong>engineering</strong> and <strong>programming</strong>.
    </div>
  </div>
</div>
