<!-- <div (appear)="onAppear($event)" style="min-height:50vh; max-width: 100%; display: flex; flex-direction: column; font-size: calc(10px + 2vmin);">
  <div *ngIf="hasAppeared" [@enterAnimation]>
    <div style="margin-left: 10%;max-width: 75%;">
      <div style="font-family: 'NTR', sans-serif; font-size: 50px; color: #64ffda;">
        about me
      </div>

      <div style="display: flex;">
        <div style="font-size: 25px; color: #8892b0; flex-grow: 1;">
          I currently work at <a href="https://danskebank.dk/erhverv" class="highlight_text">Danske Bank</a> as a student assistant in their Market Quants department. Here I mainly work
          on the in-house, nightly batch calculation framework. <br>
          Previously, I worked as a student software engineer in the bank's anti-money-laundering platform, and as an IT student at <a href="https://www.greenmobility.com" class="highlight_text">GreenMobility</a>.
        </div>
        <div style="float: right; width: 100%;">
          <img src="assets/me.jpg" style="width: 300px; max-width: 100%;" alt="me">
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <div  (appear)="onAppear($event)" style="min-height:50vh; max-width: 100%; display: flex; flex-direction: column; font-size: calc(10px + 2vmin);">
  <div *ngIf="hasAppeared">
    <div class="fade-in" style="margin-left: 10%;max-width: 75%;">
      <div style="font-family: 'NTR', sans-serif; font-size: 50px; color: #64ffda;">
        about me
      </div>

      <div style="display: flex;">
        <div style="font-size: 25px; color: #8892b0; flex-grow: 1;">
          I currently work at <a href="https://danskebank.dk/erhverv" class="highlight_text">Danske Bank</a> as a student assistant in their Market Quants department. Here I mainly work
          on the in-house, nightly batch calculation framework. <br>
          Previously, I worked as a student software engineer in the bank's anti-money-laundering platform, and as an IT student at <a href="https://www.greenmobility.com" class="highlight_text">GreenMobility</a>.
        </div>
        <div style="float: right; width: 100%;">
          <img src="assets/me.jpg" style="width: 300px; max-width: 100%;" alt="me">
        </div>
      </div>
    </div>
  </div>
</div>
