<div (appear)="onAppear($event)" class="main-container">
  <div *ngIf="hasAppeared" class="fade-in">
    <div class="title-text">about me</div>
    <div class="content-container">
      <div class="content-text">
        I'm currently employed as a Data Scientist at
        <a href="https://www.halfspace.ai" class="highlight_text">Halfspace</a>.
        Previously I worked in
        <a href="https://www.dsv.com" class="highlight_text">DSV</a>, where I
        specialize in Large Language Models. During my studies I was a Student
        Data Scientist at
        <a href="https://danskebank.dk" class="highlight_text">Danske Bank</a>
        in the Data Science Risk and SuperAI divisions, focusing on customer
        segmentation.
        <br />
        My past roles also include a stint as a Student Quant in Market Quants
        (SuperFly), a Student Software Engineer on the bank's
        anti-money-laundering platform, and an IT Student role at
        <a href="https://www.greenmobility.com" class="highlight_text"
          >GreenMobility</a
        >.
      </div>

      <div class="image-container">
        <img src="assets/carl.avif" class="image-style" alt="me" />
      </div>
    </div>
  </div>
</div>
