<div (appear)="onAppear($event)" class="main-container">
  <div *ngIf="hasAppeared" class="fade-in">
    <div class="title-text">
      about me
    </div>
    <div class="content-container">
      <div class="content-text">
        I currently work at <a href="https://danskebank.dk" class="highlight_text">Danske Bank</a> as a Student Data Scientist in Data Science Risk, SuperAI. Here I work on performing customer segmentation. <br> Previously, I worked as a Student Quant in the Market Quants (SuperFly) department, student software engineer in the bank's anti-money-laundering platform, and as an IT student at <a href="https://www.greenmobility.com" class="highlight_text">GreenMobility</a>.
      </div>
      <div class="image-container">
        <img src="assets/me.jpg" class="image-style" alt="me">
      </div>
    </div>
  </div>
</div>