<div class="text-focus-in">
  <div>experience</div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      *ngFor="let item of experiences; let i = index"
      [expanded]="step === i + 1"
      (opened)="setStep(i + 1)"
      hideToggle
      class="panel-class"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.company }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.role }}
          <mat-icon>{{ item.icon }}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let task of item.tasks">
          <div
            style="
              display: flex;
              align-items: flex-start;
              width: 100%;
              gap: 8px;
              padding: 8px 0;
            "
          >
            <mat-icon matListIcon style="flex-shrink: 0; margin-top: -1px"
              >arrow_forward_ios</mat-icon
            >
            <span class="task-text">{{ task }}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
