<div (appear)="onAppear($event)" class="container">
  <div *ngIf="hasAppeared">
    <div class="fade-in project-content">
      <div class="title">software projects</div>

      <div class="card-container">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="avatar">
              <a href="https://github.com/Fiskehandleren/StudyBot">
                <img
                  src="assets/GitHub-Mark-64px.png"
                  alt="github icon"
                  width="32px"
                />
              </a>
            </div>
            <mat-card-title>StudyBot</mat-card-title>
            <mat-card-subtitle>Teams bot powered by NLP</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              A Microsoft Teams study bot, which can help out with studying,
              baking and other stuff.
            </p>
            <p class="tech_tags">React, NLP, Javascript, Azure</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="avatar">
              <a href="https://github.com/Fiskehandleren/carl-website">
                <img
                  src="assets/GitHub-Mark-64px.png"
                  alt="github icon"
                  width="32px"
                />
              </a>
            </div>
            <mat-card-title>carl-website</mat-card-title>
            <mat-card-subtitle> Personal website </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>A simple Angular website to show who I am!</p>
            <p class="tech_tags">Angular, Typescript, HTML, CSS</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="avatar">
              <a href="https://github.com/Fiskehandleren/LaundryAnalytics">
                <img
                  src="assets/GitHub-Mark-64px.png"
                  alt="github icon"
                  width="32px"
                />
              </a>
            </div>
            <mat-card-title>LaundryAnalytics</mat-card-title>
            <mat-card-subtitle> Laundry booking forecasting </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              A Python application employing a machine learning model to alert
              me via email when there's a high likelihood of laundry needing to
              be done in the upcoming week.
            </p>
            <p class="tech_tags">Python</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="avatar">
              <a href="assets/titanic.html" target="_blank">
                <img src="assets/Python.png" alt="github icon" width="32px" />
              </a>
            </div>
            <mat-card-title>Titanic</mat-card-title>
            <mat-card-subtitle> Titanic Kaggle Challenge </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              This project demonstrates an end-to-end data science workflow with
              the Kaggle Titanic dataset. It involves data cleaning, feature
              engineering and model training, providing a real-world modeling
              scenario.
            </p>
            <p class="tech_tags">Python</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
