<div (appear)="onAppear($event)" style="height:1000px;">
    <div *ngIf="hasAppeared" [@enterAnimation]>
      <div style="margin-left: 10%;max-width: 30%;">
        <div class="tracking-in-contract" style="font-family: 'NTR', sans-serif; font-size: 50px; color: black;">
          Projects
        </div>
  
        <div style="display: flex;">
          <div style="font-family: 'NTR', sans-serif; font-size: 25px; color: grey; flex-grow: 1;">
            More about me here. Bla bla bla.           More about me here. Bla bla bla.           More about me here. Bla bla bla.
          </div>
          <div style="float: right; width: 100%;">
            <img src="assets/me.jpg" style="width: 300px;" alt="me">
          </div>
        </div>

      </div>
    </div>
  </div>
  