/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lucy;
    src: url(assets/Lucy.otf) format("opentype");
}
$bodycolor: #fffeb3;
$titlecolor: #6fcb9f;
$textcolor: #666547;

html, body { height: 100%; background-color: $bodycolor;}
body { margin: 0; font-family: 'NTR', "Helvetica Neue", sans-serif; }
