/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lucy;
    src: url(assets/Lucy.otf) format("opentype");
}
/* 
$bodycolor: #112240;
$titlecolor: #2a9d8f;
$textcolor: #8892b0;
$linkcolor: #64ffda;
*/ 

$bodycolor: #537188;
$titlecolor: #CBB279;
$linkcolor: #E1D4BB;
$textcolor: #EEEEEE;
$shadowcolor: #000000;


$textFontSize: calc(12px + 1vmin); 
$titleFontSize: 50px;

$maxSectionWidth: 1000px;

html, body { height: 100%; background-color: $bodycolor;}
body { margin: 0; font-family: 'NTR', "Helvetica Neue", sans-serif; }

a {color:$linkcolor; text-decoration: none; }         /* Unvisited link  */
a:visited {color:$linkcolor;} /* Visited link    */
a:hover {color:$linkcolor;}   /* Mouse over link */
a:active {color:$linkcolor;}  /* Selected link   */

@media (max-width:600px){ 
    .flex-container {
     flex-direction: column;
  }
.img img{ 
     padding-left: 15vh;
  } 
.nameblock{
     width:90%;
     margin: auto;
     padding-left:0;
  }
}